<div class="messages-page">
  <h1>Messages</h1>
  <% @conversations.each do |user| %>
    <%= link_to message_path(user.id), class: "message-thread" do %>
      <img src="<%= user.avatar_url %>" alt="<%= user.username %>" class="avatar">
      <div class="thread-info">
        <p class="username"><%= user.username %></p>
        <p class="preview">Tap to view conversation</p>
      </div>
      <span class="time">now</span>
    <% end %>
  <% end %>
</div>

<style>
.messages-page {
  padding: 16px;
  max-width: 600px;
  margin: 0 auto;
}

.message-thread {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  color: inherit;
}

.message-thread .avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
}

.thread-info {
  flex: 1;
  margin-left: 12px;
}

.username {
  font-weight: bold;
}

.preview {
  color: gray;
  font-size: 13px;
}

.time {
  font-size: 12px;
  color: #999;
}
</style>
