<!-- Settings Menu Panel -->
<div id="settingsMenu" class="fixed top-0 right-[-300px] h-full w-72 bg-white shadow-lg z-50 p-4 transition-all duration-300">
  <h2 class="text-xl font-semibold mb-4">Settings</h2>
  <ul class="space-y-2">
    <li><%= link_to "Account", "/account", class: "block text-gray-800" %></li>
    <li><%= link_to "Privacy", "/privacy", class: "block text-gray-800" %></li>
    <li><%= link_to "Logout", "/logout", class: "block text-red-500" %></li>
  </ul>
</div>
