<div class="p-4">
  <h1 class="text-2xl font-bold mb-4">Settings</h1>
  <ul class="space-y-3">
    <li><%= link_to "Profile", "/profile", class: "text-blue-600 underline" %></li>
    <li><%= link_to "Account Settings", "/account", class: "text-blue-600 underline" %></li>
    <li><%= link_to "Logout", "/logout", class: "text-red-500 underline" %></li>
  </ul>
</div>
